body {
    font-family: 'Jua', sans-serif;
}

nav.navbar {
    width: 100%;
    justify-content: space-between;
}

a.navbar-brand {
    margin: 0 20px;
    font-size: 30px;
}

div.space {
    display: flex;
}

input.form-control {
    width: 500px;
}

.material-symbols-outlined {
    font-size: 30px;
    margin: 10px;
}

.nav-item {
    margin-right: 50px;
    font-size: 20px;
}

.article_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

button {
    margin: 20px;    
}

ol {
    margin-right: 200px;
}

img {
    margin-right: 10px;
}

.article_box {
    display: flex;
    flex-direction: row;
}

.article_user, .article_img, .article_title, .article_content, .article_likes_bookmarks {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.create_article {
    width: 200px;
    height: 50px;
    font-size: 20px;;
}

