body {
    background-color: #a3b899;
}

h1 {
    text-align: center;
}

.login-box {
    border: 3px solid black;
    border-radius: 15px;
    width: 700px;
    height: 600px;
    text-align: center;
    padding-top: 50px;
    margin: auto;
    margin-top: 130px;
}
form {
    margin-top: 70px;
}

input {
    
    margin-top: 15px;
    width: 350px;
    height: 35px;
    padding-left: 15px;
}

button {
    font-size: 15px;
    font-weight: bold;
    width: 230px;
    height: 40px;
    margin-top: 40px;
}

img {
    width: 230px;
    height: 45px;
    margin-top: 15px;
}
