body {
  height: 100vh;
  display: grid;
  align-items: center;
  background-color: wheat;
  font-family: 'Jua', sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

form {
  margin: 50px auto;
  width: 350px;
}

button {
  display: block;
  width: 350px;
  margin-top: 15px;
}

/* h1 {
    text-align: center;
}

.login-box {
    background-color: bisque; 
    border: 3px solid black;
    border-radius: 15px;
    width: 700px;
    height: 600px;
    text-align: center;
    padding-top: 50px;
    margin: auto;
    margin-top: 130px;
}
form {
    margin-top: 70px;
}

input {
    margin-top: 15px;
    width: 350px;
    height: 35px;
    padding-left: 15px;
}

button {
    font-size: 15px;
    font-weight: bold;
    width: 230px;
    height: 40px;
    margin-top: 40px;
} */
