<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Caveat:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/article_create.css" />

    <title>油畵(유화) | 아티클 작성하기</title>
</head>

<body>
    <div class="wrap">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="space">
                <a class="navbar-brand" href="../templates/index.html">油畵(유화)</a>
            </div>
            <div class="space">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">My</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="input_area">
            <h1>Create Article</h1>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" placeholder="title" required />
                <label for="floatingInput">title</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="content" placeholder="content" required />
                <label for="floatingInput">content</label>
            </div>
            <div class="file_select">
                <input type="file" class="form-control" id="image" placeholder="image" required />
            </div>
            <button type="button" class="btn btn-secondary" onclick="CreateArticle()">작성하기</button>
        </div>
    </div>

    <script src="../static/js/api.js"></script>
    <script src="../static/js/article_create.js"></script>
</body>

</html>