<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="login-box">
    <h1>Login</h1>
    <form>
        <input type="email" name="email" id="email" placeholder="email"><br>
        <input type="password" name="password" id="password" placeholder="password"><br>
        <button type="button" onclick="handleLogin()">로그인</button>  
    </form>
    <a href="http://localhost:8000/users/google/login/"><img src="https://developers.kakao.com/tool/resource/static/img/button/login/full/ko/kakao_login_medium_narrow.png"></a>
    <p>계정이 없으신가요? <a href="signup.html">회원가입 페이지로</a></p>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html>