<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <title>油畵(유화) | Profile</title>

  <link rel="stylesheet" href="../static/css/profile.css" />
</head>

<body>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">비밀번호 수정</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <input id="old_password" placeholder="현재 비밀번호" type="password" />
          </div>
          <div>
            <input id="new_password" placeholder="새 비밀번호" type="password" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="loadPasswordUpdate()">확인</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="space">
      <a class="navbar-brand" href="../templates/index.html">油畵(유화)</a>
    </div>
    <div class="space">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" id="username" href="#"></a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-link" onclick="handleLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>

  <form>
    <div class="main">
      <p class="profile_img" id="profile_img"></p>
      <div class="main_profile">
        <div>
          <p class="h3" id="email"></p>
          <p id="bio"></p>
        </div>
        <div>
          <button type="button" class="btn btn-primary profile" onclick="location.href='profile_update.html'">프로필
            수정</button>
          <button type="button" class="btn btn-primary profile" data-bs-toggle="modal"
            data-bs-target="#exampleModal">비밀번호 수정</button>
        </div>
      </div>
    </div>
    <br />
    <ol class="article_list" id="article_list"></ol>
  </form>

  <script src="../static/js/api.js"></script>
  <script src="../static/js/profile.js"></script>
</body>

</html>