<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Profile</title>

    <link rel="stylesheet" href="../static/css/profile.css" />
  </head>
  <body>
    <h1>안녕하세요</h1>

    <script src="../static/js/api.js"></script>
    <script src="../static/js/profile.js"></script>

    <!-- <script>
      // 인증된 유저만 페이지 접근 가능 //
      if (!token) {
        window.location.replace(`${frontend_base_url}/login.html`);
      }
    </script> -->
  </body>
</html>
